.dark-mode .light-img {
  display: none;
}

.dark-mode .dark-img {
  display: block;
}

.dark-img {
  display: none;
}

.light-img {
  display: block;
}

#__nuxt > div > div {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main { 
  flex: 1
}

/* main > div {
  min-height: 78vh;
} */

.nuxt-content {
  @apply break-words;

  & h2,
  & h3 {

    /* Fix anchor scrollTo */
    &::before {
      display: block;
      content: " ";
      margin-top: -85px;
      height: 85px;
      visibility: hidden;
      pointer-events: none;
    }

    /* Style anchor links on headings added by @nuxt/content */
    &>a {
      @apply ml-5;

      &::before {
        content: "#";
        @apply text-primary-500 font-normal text-xl leading-8 -ml-5 pr-2 absolute opacity-100;
      }

      @screen lg {
        @apply ml-0;

        &::before {
          @apply opacity-0;
        }
      }
    }

    &:hover {
      &>a::before {
        @apply opacity-100;
      }
    }
  }

  & h4 {

    /* Fix anchor scrollTo */
    &::before {
      display: block;
      content: " ";
      margin-top: -85px;
      height: 85px;
      visibility: hidden;
      pointer-events: none;
    }

    /* Style anchor links on headings added by @nuxt/content */
    &>a {
      @apply ml-5;

      &::before {
        content: "#";
        @apply text-primary-500 font-normal text-base leading-6 -ml-5 pr-2 absolute opacity-100;
      }

      @screen lg {
        @apply ml-0;

        &::before {
          @apply opacity-0;
        }
      }
    }

    &:hover {
      &>a::before {
        @apply opacity-100;
      }
    }
  }

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    &>.filename {
      @apply absolute right-0 top-0 text-gray-100 z-10 font-mono text-sm tracking-tight leading-none mr-4 mt-3;
    }

    /* Add top padding to code blocks with filename */
    &>.filename+pre[class*="language-"] {
      @apply pt-8;
    }

    /* Style copy button added in `pages/_.vue` */
    &>.copy {
      @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-2 py-2 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply outline-none bg-gray-600;
      }
    }

    &:hover {
      &>.copy {
        @apply block;
      }
    }
  }

  /* Force style on pre elements */
  & pre[class*="language-"] {
    /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
    @apply bg-gray-800 static;
  }
}

/* external link */
.nuxt-content a[target=_blank]::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound"><path fill="gray" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path> <polygon fill="gray" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>');
}